<h1>Edicion de Variable Precio</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', [@empresa, @project,@variable_precio] %> |
<%= link_to 'Volver', empresa_project_variable_precios_path(@empresa, @project) %>
