<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @variable_precio.detalle %>
</p>


<%= link_to 'Edit', edit_variable_precio_path(@variable_precio) %> |
<%= link_to 'Back', variable_precios_path %>
