<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @variable_valor.detalle %>
</p>


<%= link_to 'Edit', edit_variable_valor_path(@variable_valor) %> |
<%= link_to 'Back', variable_valors_path %>
