<h1>Nuevo Elemento para el projecto <%=@project.try(:detalle)%> de la empresa <%=@empresa.try(:detalle)%></h1>

<%= render 'form' %>

<%= link_to 'Volver', empresa_project_elements_path(@empresa,@project) %>
