<h1 align="center">Bienvenido a Mercado el soft para análisis de referencia</h1> 
<h2 align="center">sin conocimiento no se puede crecer....</h2>
<ul>
	<li><a href="variable_valors" >Variable de valor</a></li>
	<li><a href="variable_precios" >Variable de precio</a></li>
</ul>
config/environments/production.rb
<p>Find me in app/views/home/index.html.erb</p>