<h1>Análisis de Mercado</h1>
<p>Esta es la página principal de <a href="http://mercado.com.ar/">Mercado</a> </p>
<ul>
	<li><%= link_to "Empresas de mercado", empresas_path %></li>
    <li><%= link_to "Variables de precio", variable_precios_path %></li>
    <li><%= link_to "Variables de valor", variable_valors_path %></li>
  </ul>