<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Acerca de", about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="http://www.ap-sys.com/">apsys</a></li>
      <li><a href="http://www.ap-sys.com.ar/">apsys ar</a></li>
    </ul>
  </nav>
</footer>
